<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vistacomprador.css">
    <title>Usuario</title>
</head>
<body>
    <header id="encabezado">
        <div class="nav">
            <input type="checkbox">
              <span></span>
              <span></span>
              <div class="menu">
                <li><a href="/vehiculosusu">Vehiculos</a></li>
                <li><a href="/datospevendedor">Datos</a></li>
            </div>
          </div>
        <div class="cuadro">
            <p><%= uss %></p>
            <img src="img/logo_small_icon_only.png" alt="">
            <a href="cerrar">Cerrar sesion</a>
        </div>
        </div>
    </header>

    <section class="contenedor">
        <div class="caja"><a href="/vehiculosusu">Vendedor</a></div>
        <div class="caja"><a href="/vistacompradorusu">Comprador</a></div>
    </section>
</body>
</html>